@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700;900&display=swap');

header {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 6vh;
  align-items: center;
  background-color: var(--background);
  color: white;
  z-index: 10;
}

.header_title,
.nav_bar,
.nav_bars,
.hamburger {
  padding: 5px;
  flex: 1;
}
.header_title h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Passion One', cursive;
}
.nav_bar {
  display: flex;
  justify-content: space-around;
}

.nav_bar li {
  list-style: none;
}

.nav_bar li a {
  text-decoration: none;
  color: white;
  font-family: 'Passion One', cursive;
  font-size: 18px;
}
.nav_bars {
  display: flex;
  justify-content: space-around;
}

.nav_bars li {
  list-style: none;
  position: relative;
}

.nav_bars li a {
  font-family: 'Passion One', cursive;
  text-decoration: none;
  color: white;
}
.hamburger {
  display: none;
}

.hamburger div {
  width: 20px;
  background-color: white;
  height: 2px;
  margin: 2px auto 2px auto;
}

@media only screen and (max-width: 600px) {
  .home_wrapper,
  .game_wrapper,
  .client_wrapper,
  .login_wrapper,
  .FAQ_wrapper {
    overflow-x: hidden;
  }
  .header_title {
    flex: 2;
  }
  .header_title h1 {
    font-size: 2em;
  }
  .nav_bar {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    flex-direction: column;
    width: 100%;
    background-color: #33334d;
    transform: translateX(100%);
    text-align: center;
    transition: transform 0.5s ease-out;
  }
  .nav_bars {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    flex-direction: column;
    width: 100%;
    background-color: #33334d;
    transform: translateX(0%);
    overflow: hidden;
    text-align: center;
    transition: transform 0.5s ease-in-out;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    cursor: pointer;
  }
}
